h1{
    background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  line-height: 40px;
    font-style: oblique;
}
body{
    background-color: lightgreen;
 
}
p{
    font-style: oblique;
    font-size: 40px;
    line-height: 40px;
}
h2{
    font-style: oblique;
    background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  line-height: 40px;
}